body {
    font-family: Arial, Helvetica, sans-serif;
}

header > section {
    text-align: center;
}

.contact-list {
    border: 1px solid #cdcdcd;
    border-bottom: 0 none;
    border-radius: 4px;
}
.contact-list > li {
    padding: 5px 0;
    border-bottom: 1px solid #cdcdcd;
}

footer {
    text-align: center;
    padding: 50px 0;
    background: #f4f4f4;
    border-top: 1px solid #e1e1e1;
}

img {
    max-width: 100%;
    height: auto;
}

.lazy {
    opacity: 0;
    -webkit-transition: opacity .75s;
    transition: opacity .75s;
}

.lazy.loaded {
   opacity: 1; 
}

.brand {
   background: transparent url('../img/branding.png') no-repeat center; 
   background-size: contain;
   height: 200px;
}

.img-border {
    border: 1px solid #dcdcdc;
}

#site-title {
    height: 0;
    width: 0;
    padding: 0;
    margin: 0;
    font-size: 0;
}

#to-top {
    position: fixed;
    bottom: .5em;
    right: .5em;
    font-size: 1.3em;
    font-weight: bold;
    background: #cdcdcd;
    color: #333;
    padding: 15px;
    font-size: 1.3em;
    border-radius: 4px;
    text-decoration: none;
}

#to-top:hover {
    background: #dcdcdc;
}

#old-browser-heading {
    display: none;
    color: red;
    text-align: center;
}

#main {
    text-align: center;
}

#main article {
    padding: 50px 0;
    border-bottom: 1px solid #d1d1d1;
}

#main article:last-child {
    border: 0 none;
}

@media (min-width:391px) {
    .brand {
        height: 250px;
    }
}

@media (min-width:601px) {
    .brand {
        margin: 20px 0;
        height: 324px;
    }
}

@media (min-width:745px) {
    .contact-list {
        border: 0 none;
    }
    .contact-list > li {
        display: inline-block;
        padding: 0 15px;
        border: 0 none;
        border-right: 1px solid #a0a0a0;
    }
    .contact-list > li:last-child {
        border: 0 none;
    }
}

@media (min-width: 1200px) {
    nav {
        font-size: 1.5em;
    }
}
