body {
    background-image: url('img/lpbkgrd.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
}

/* NAV */

.icon-mustache4 {
    fill: #454C4C;
    transition: .5s;
    margin-right: 0;
  }

.icon-mustache4:hover {
    color: #FFE14D;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.nav-bkgrd {
    background-color: rgba(128, 128, 128, 0.5);
    z-index: 1;
}

.main-nav {
    display: flex;
    list-style: none;
    font-size: .75em;
    font-family: 'Roboto Slab', serif;
    margin: 0;
}

.push {
    margin-left: auto;
}

ul {
    padding: 0 1%;
}

li {
    padding: 15px;
}

a {
    color: #454C4C;
    text-decoration: none;
    transition: all .5s;
}

a:hover {
    color: #FFE14D;
}

.content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 20%;
    border: 3px solid #FFE14D;
}

.sm-mustache {
    width: 10%;
}
.heading {
    margin: 0;
}

.button {
    margin: 1%;
    width: 60%;
    padding: 5px5px;
    -webkit-transition: all 1s;
    transition: all 1s;
    -webkit-font-smoothing: antialiased;
}
/*Other Animation Method*/
/* @-webkit-keyframes rock{
    0%{transform: rotate(0deg);}
    5%{transform: rotate(10deg);}
    10%{transform: rotate(-10deg);}
    15%{transform: rotate(0deg);}
    100%{transform: rotate(0deg);}
}

@keyframes rock {
    0%{transform: rotate(0deg);}
    5%{transform: rotate(10deg);}
    10%{transform: rotate(-10deg);}
    15%{transform: rotate(0deg);}
    100%{transform: rotate(0deg);}
}

img {
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-animation: rock 1s ease-in-out;
    animation: rock 6s ease-in-out;
    -webkit-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-delay: 6s;
    animation-delay: 6s;
    transition: all 1s;
}

img:hover {
    transform: scale(1.1);
} */

@-webkit-keyframes rock{
    0%{transform: rotate(0deg);}
    25%{transform: rotate(10deg);}
    50%{transform: rotate(-10deg)}
    100%{transform: rotate(0deg);}
}

@keyframes rock {
    0%{transform: rotate(0deg);}
    25%{transform: rotate(5deg);}
    50%{transform: rotate(-5deg)}
    100%{transform: rotate(0deg);}
}

img:hover {
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-animation: rock 1s ease-in-out;
    animation: rock 1.5s ease-in-out;
}

h1 {
    text-align: center;
    font-family: 'Roboto Slab', serif;
    font-size: 3rem;
    color: grey;
    margin: 0;
}

h2 {
    text-align: center;
    font-family: 'Roboto Slab', serif;
    font-size: 2rem;
    /* color: #454C4C; */
    color: #454C4C;
    margin-top: 10%;
}

@media (min-width: 768px){

    body {
        height: 100vh;
    }

    h1 {
        font-size: 4rem;
        margin-top: 5%;
    }

    h2 {
        font-size: 3rem;
        margin-top: 6%;
    }
    .button {
        width: 35%;
        margin: 2%;

}

@media (min-width: 1024px){

    .overflow-hidden {
        overflow-y: hidden;
    }

    .icon-mustache4 {
        width: 4em;
        height: auto;
    }

    body {
        height: 100vh;
    }

    .main-nav {
        font-size: 1.25em;
    }

    li {
        padding: 20px;
    }

    h1 {
        font-size: 5rem;
    }

    .content {
        margin-top: 10%;
        margin-left: 20%;
        margin-right: 20%;
        padding: 0 0 3%;
    }

    .button {
        width: 35%;
        margin: 1%;
    }
}}